* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #141414;
    font-family: sans-serif;
    position: relative;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 16px 5%;
  }
  
  header img {
    height: 28px;
  }
  
  header a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 16px;
  }
  
  header button {
    background: none;
    color: white;
    border: none;
    margin-right: 16px;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }
  
  header .search {
    margin-left: auto;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .secondary-nav {
    margin-left: auto;
  }
  
  .slide {
    width: 200px;
    height: 120px;
    margin-bottom: 10px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 4px;
    display: inline-block;
  }
  
  .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .slide {
    transition-delay: 500ms;
    transition: 300ms transform;
    box-shadow: 0px 11px 17px -9px rgba(0, 0, 0, 0.9);
  }
  
  .slide:hover {
    transform: scale(1.5);
    z-index: 1;
    cursor: pointer;
    transition-delay: 500ms;
  }
  
  section {
    padding: 0 5%;
    margin-top: 30px;
  }
  
  section h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 12px;
    text-shadow: 1px 1px #222;
  }
  
  header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, transparent);
    z-index: 1;
  }
  
  .hero {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -1;
  }
  
  .hero img {
    width: 100%;
    filter: brightness(80%);
  }
  
  .hero + section {
    margin-top: -64px;
  }
  